<div class="col-12 px-2">
    <table class="table table-bordered">
        <thead class="table-head text-center bg-light">
            <tr>
                <td width="10%">Comment Owner</td>
               @* <td width="20%">Comment Title</td>*@
                <td width="70%">Comment Details</td>
            </tr>
        </thead>
    </table>
</div>

@code {
}