<MudContainer Fixed="true">
    <div>
        <table class="table table-bordered" style="background-color: #D7E2E3">
            <thead class="table-head text-center">
                <tr>
                    <th width="5%">Id</th>
                    <th width="10%">Title</th>
                    <th width="10%">Details</th>
                    <th width="40%">BlogOwnerID</th>
                    <th width="10%">Status</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</MudContainer>

@code {

}
