<MudContainer Fixed="true">
    <div>
        <table class="table table-bordered" style="background-color: #D7E2E3">
            <thead class="table-head text-center">
                <tr>
                    <th width="3%">Id</th>
                    <th width="6%">Title</th>
                    <th width="6%">Details</th>
                    <th width="27%">BlogOwnerID</th>
                    <th width="6%">Status</th>
                    <th width="12%">Posts count</th>
                    <th width="12%">Comments count</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</MudContainer>

@code {

}
