.table-head {
    color: black;
    background-color: #dce3e3;
    text-align: center;
}

.table-body {
    color: black;
    background-color: #f2f7f7;
    text-align: center;
}

.text-centered {
    vertical-align: middle;
    text-align: center;
}


