@page "/"

<PageTitle>Homepage</PageTitle>

<MudContainer Fixed="true">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="pt-4 pb-4">
       
        <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Dark">
            Welcome to
            <MudButton Variant="Variant.Outlined" Style="@($"color:{Colors.Cyan.Darken4};font-size:1.25rem")" Color="Color.Dark" href="@($"/blogs")">blogs</MudButton>
        </MudText>
    </div>
</MudContainer>









